#guestPanel {
    display: block;
    padding: 1em;
    .heroMessage {
        margin-top: 6em;
        padding: 2em 2em 2em 0;
    }
    .outlineButton {
        display: inline-block;
        margin: 1em;
    }
    .outlineButton:nth-child(2) {
        margin-left: 0;
    }
}