#leaveApplication {
    .centerList {
        padding: 0 1em;
    }
    .shadowOption {
        flex: 0 0 100%;
        margin-bottom: 2.5em;
    }

    .nextStepButtonsArea {
        @include media("below-small") {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: white;
        }
    }

    .nextStepButtonsArea--notFixed {
        justify-content: flex-start;

        a {
            margin-left: 0; 
        }
    }
}
