#leaveApplication {
    .centerList {
        padding: 0 1em;
    }
    .shadowOption {
        flex: 0 0 100%;
        margin-bottom: 2.5em;
    }

    .nextStepButtonsArea {
        @include media("below-small") {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: white;
        }
        @include media("above-tablet") {
            margin-top: 1em;
        }
    }

    .nextStepButtonsArea--notFixed {
        justify-content: flex-start;

        a {
            margin-left: 0;
        }
    }

    .checkboxContainer {
        @include media("above-tablet") {
            margin-bottom: 3em;
        }
    }
}
#leaveApplication_classList {
    width: 100%;
    label {
        width: 100%;
    }
    .itemBarWithAction {
        @include media("above-desktop") {
            flex-direction: row-reverse;
        }
    }
    .itemBarWithAction_action {
        padding-right: 12px;
        @include media("above-desktop") {
            margin-right: 16px;
        }
    }

    .disableSelect {
        .dateSingle_other {
            color: $gray-2;
        }
        .itemBarWithAction_action {
            padding-right: 0;
        }
    }
    .borderBottomList {
        padding-top: 16px;
        li {
            @include media("below-iphoneSE") {
                padding-right: 8px;
                padding-left: 8px;
            }
        }
    }
}
