#leaveApplication {
    .centerList {
        padding: 0 1em;

        @include media("above-tablet") {
            max-width: 520px;
            margin-left: 8.3%;
            margin-right: auto;
            margin-top: 1em;
        }
    }
    .shadowOption {
        flex: 0 0 100%;
        margin-bottom: 2.5em;
    }

    .nextStepButtonsArea {
        @include media("below-small") {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: white;
        }
        @include media("above-tablet") {
            margin-top: 1em;
        }
    }

    .nextStepButtonsArea--notFixed {
        justify-content: flex-start;

        a {
            margin-left: 0;
        }
    }

    .checkboxContainer {
        @include media('above-tablet') {
            margin-bottom: 3em;
        }
    }
}
