#leaveRule {

    li {
        font-weight: 400;
    }
    .comfyList {
        margin-bottom: 2.5em;
        li {
            margin-bottom: 16px;
            font-size: 0.9rem;
        }
    }
    .nextStepButtonsArea--notFixed {
        justify-content: flex-start;

        .outlineButton {
            margin-left: 0;
        }
    }
}