#newSession {
  .periodSetter {
    margin-bottom: 32px;
    display: flex;

    select[name='year'] {
      margin-bottom: 0;
      margin-right: 0.5em;
    }
    select[name='month'] {
      margin-bottom: 0;
      margin-left: 1em;
    }
    .seperator {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 400;
      padding: 1em 0 0.5em 0;
    }
  }
}
