#registerClasses {
  .shadowOption {
    margin-bottom: 2em;
  }
  .nextStepButtonsArea--notFixed {
    justify-content: flex-start;
    a {
      margin-left: 0;
    }
  }
  .resultMessage_text,
  .resultMessage_action {
    margin-bottom: 0.5em;
    font-size: 1rem;
    font-weight: 400;
  }
  .comfyList {
    color: $gray-5;
    li {
      font-size: 0.75rem;
    }
  }
  .options {
    @include media('above-tablet') {
      margin-bottom: 6em;
    }
  }
}

#selectClassPanel {
  li {
    font-size: 1em;
  }
}

#selectClassPanel_instruction {
  margin-bottom: 40px;
}

/**
 *
 *      Preview
 *
 */

#registerClass_previewSummary {
  font-size: 1rem;
  font-weight: 400;
  padding: 24px 16px;
}

#registerClass_previewOptions {
  padding: 16px;
  padding-top: 0;
  ul {
    box-shadow: 0 0 20px -18px;
  }
  @include media('above-tablet') {
    margin: 0 40px;
  }
  @include media('above-desktop') {
    max-width: 720px;
    margin: 0 216px;
  }
  .itemBarWithAction {
    @include media('above-desktop') {
      flex-direction: row-reverse;
    }
  }
  .itemBarWithAction_action {
    @include media('above-desktop') {
      margin-right: 16px;
    }
  }
}

.registerClass_preview_date {
  span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  span:nth-child(1) {
    margin-right: 16px;
  }
  span:nth-child(2) {
    font-size: 0.75rem;
    color: $gray-4;
  }
}

/**
 *
 *      成功
 *
 */

#registerClass_success {
  ul {
    margin-bottom: 32px;
  }
  li {
    font-size: 0.75rem;
  }
  a {
    color: $gray-4;
  }
  .underline {
    text-decoration: underline;
  }
}
