#registerClasses {

    .shadowOption {
        margin-bottom: 2em;
    }
    .nextStepButtonsArea--notFixed {
        justify-content: flex-start;
        a {
            margin-left: 0;
        }
    }
    .resultMessage_text,
    .resultMessage_action {
        margin-bottom: 0.5em;
        font-weight: 400;
    }
    .comfyList {
        margin-bottom: 2em;
    }
    li:before {
        top: 0.6em;
    }
}