#reschedule {

    .shadowOption {
        margin-bottom: 2em;
    }
    .nextStepButtonsArea {
        @include media('below-small') {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: white;
        }
    }
    .nextStepButtonsArea--notFixed {
        justify-content: flex-start;

        a {
            margin-left: 0; 
        }
    }
}

#reschedule_instruction {
    margin-bottom: 32px;
    li {
        font-size: 0.75em;
        color: $gray-4;
    }
}