#reschedule {

    .shadowOption {
        margin-bottom: 2em;
    }
    .nextStepButtonsArea {
        button {
            margin-right: 2.5em;
            margin-left: 2.5em;
        }
        @include media('below-small') {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: white;
        }
    }
    .nextStepButtonsArea--notFixed {
        justify-content: flex-start;

        a {
            margin-left: 0; 
        }
    }
}

#reschedule_instruction {
    margin-bottom: 32px;
    li {
        font-size: 0.75em;
        color: $gray-4;
    }
}

#reschedule_classList {
    button {
        font-size: 0.75rem;
        padding: 0.75em 2em;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    button.active {
        background: $gray-6;
        color: white;
    }

    .buttonArea {
        margin-bottom: 8px;
        button {
            @include media('below-iphoneSE') {
                font-size: 10px;
            }
        }
    }
    .buttonArea:nth-child(2) {
        margin-bottom: 16px;
        button {
            padding: 0.7em 1.6em;
        }
    }
    li {
        margin-bottom: 16px;
    }
}

.reschedule_preview_options {
    width: 100%;
    font-weight: 500;
    .date {
        margin-bottom: 12px;
        span:nth-child(1) {
            margin-right: 12px;
        }
        span:nth-child(2) {
            font-size: 0.9rem;
        }
    }
    .message {
        font-size: 0.75rem;
        color: $gray-4;
    }
    span[name='seperator'] {
        margin: 0 8px;
    }
}

#reschedule_success {
    .stepIndicator {
        margin-bottom: 40px;
    }
}