#sideMenu {
    visibility: hidden;
    width: 100%;
    padding: 1.5em 1em 1em 1em;
    height: calc(100% - 56px);
    position: fixed;
    background: #F77251;
    z-index: 11;

    &.active {
        visibility: visible;
    }

    a {
        font-size: 1.6em;
        font-weight: 400;
    }
}