#sideMenuRefactor {
  visibility: hidden;
  width: 100%;
  padding: 1.5em 1em 1em 1em;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: $gray-0;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 11;

  &.active {
    visibility: visible;
  }

  a {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .sideMenu_division {
    font-size: 0.75em;
    font-weight: 200;
    line-height: 2em;
    border-bottom: 1px solid $gray-2;
    margin: 12px 16px;
  }

  .closeIcon {
    display: block;
    width: 24px;
    height: 24px;

    &:before,
    &:after {
      content: '';
      display: block;
      position: relative;
      width: 100%;
      height: 2px;
      background: $black;
      transform-origin: center center;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }

  @include media('above-tablet') {
    max-width: 352px;
  }
}

#sideMenu_infos,
#sideMenu_users,
#sideMenu_actions {
  margin-bottom: 2em;
}
