#sideMenu {
    visibility: hidden;
    width: 100%;
    padding: 1.5em 1em 1em 1em;
    height: calc(100% - 56px);
    position: fixed;
    top: 56px;
    background: $gray-0;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 11;

    &.active {
        visibility: visible;
    }

    a {
        font-size: 1.6em;
        font-weight: 400;
    }
    .sideMenu_division {
        font-size: 0.75em;
        font-weight: 200;
        line-height: 2em;
        border-bottom: 1px solid $gray-2;
        margin: 12px 16px;
    }

    @include media('above-tablet') {
        max-width: 352px;
    }
}

#sideMenu_infos,
#sideMenu_users,
#sideMenu_actions {
    margin-bottom: 2em;
}
