#userStatus {
    font-weight: 400;
    .leaveSingle,
    .RescheduleSingle,
    .paymentSingle {
        margin-bottom: 1.5em;
        p[name='title'] {
            font-size: 1em;
            font-weight: 500;
            margin-bottom: 0.5em;
        }
    }
    .stepIndicator {
        margin-bottom: 2em;
    }
    .comfyList {
        color: $gray-4;
        li {
            line-height: 1.5em;
            font-size: 0.9em;
            margin-bottom: 0;
        }
        li:before {
            width: 6px;
            height: 6px;
            top: 0.6em;
            margin-left: 2px;
        } 
        .action,
        .action button{
            text-decoration: underline;
        }
        a {
            color: $gray-4;
        }
    }

    p[name='default'] {
        color: $gray-2;
    }

    .layout_contentBlock {
        padding-bottom: 56px;
    }
    .layout_contentBlock:nth-child(2) {
        padding-bottom: 0;
    }

    @include media('below-iphoneSE') {
        .borderBottomList li {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    
}

.userStatus_classState {
    @include media('below-iphoneSE') {
        font-size: 10px;
    }
}

.userStatus_classState[name='leave'] {
    color: $gray-4;
    &:before {
        background: $gray-4;
    }
}

.userStatus_classState[name='rescheduled'] {
    color: $green;
    &:before {
        background: $green;
    }
}
.userStatus_classState[name='reschedulePending'],
.userStatus_classState[name='reschedulable'] {
    color: $orange;
    &:before {
        background: $orange;
    }
}


.userStatus_classState:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    border-radius: 4px;
}

#userStatus_menu {
    display: flex;
    // margin: 0 24px;
    // margin-bottom: 32px;
    border: 1px solid $gray-6;
    border-radius: 8px;
    overflow:hidden;
    // @include media('above-tablet') {
    //     margin: 0 72px;
    //     margin-bottom: 32px;
    // }
    // @include media('above-desktop') {
    //     margin: 0 248px;
    //     margin-bottom: 32px;
    // }
    
    & > div {
        flex: 1 0 33%;
    }

    div:nth-child(2) {
        border-left: 1px solid $gray-6;
        border-right: 1px solid $gray-6;
    }

    button {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        font-size: 0.75rem;
    }
    button.inView {
        background: $black;
        color: white;
    }
}

.userStatus_classSingle {
    .inactive {
        color: $gray-2;
        .dateSingle_other {
            color: $gray-2;
        }
    }
    .dateSingle_date {
        @include media('below-iphoneSE') {
            font-size: 14px;
        }
    }
}