html {
    overflow-x: hidden;
    font-family: customSet--sans;
    font-size: $base-font-size;
    color: $black;
}

body {
    position: relative;
    overflow: hidden;

    @include media('below-desktop') {
        overflow: visible;
    }

}

h1 {
    font-size: 2.5rem;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

p {
    font-size: 1.2rem;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: $black;
    user-select: none;
}