p 親愛的芝伊： 
p 有新學生註冊，請前往網站確認是否開放學生使用系統。
br
a(href=url style='padding: 16px 28px; background: black; color: white; text-decoration: none; margin: 8px; border-radius: 8px;') 前往使用
p(style='margin-top:56px;') 芝伊