.outlineButton {
    padding: 0.75em 1.5em;
    border: 1px solid $gray-6;
    border-radius: 1.5em;
    font-size: 0.9em;
}

.cancelGray {
    padding: 0.75em 1.5em;
    color: $gray-3;
    font-size: 0.9em;
}

.cancelRed {
    padding: 0.75em 1.5em;
    color :white;
    background: red;
    font-size: 0.75em;
    border-radius: 4px;
}