.dayHero_day {
    font-size: 1.5rem;
    margin-right: 0.5em;
    @include media('below-iphoneSE') {
        font-size: 1.2rem;
    }
}

.dayHero_time {
    font-size: 1rem;
    @include media('below-iphoneSE') {
        font-size: 0.75rem;
    }
}

.dayHero_message {
    font-size: 0.75em;
    line-height: 1.5em;
    color: $gray-3;
    margin-top: 1em;
}