.dateHero {
    user-select: none;
    span[name='date'] {
        display: inline-flex;
        width: 48px;
        justify-content: center;
        font-size: 1.5rem;
        padding-right: 0.5em;
        @include media('below-iphoneSE') {
            font-size: 1.5rem;
        }
    }

    span[name='monthYear'] {
        font-size: 0.75rem;
        @include media('below-iphoneSE') {
            font-size: 0.6rem;
        }
    }

    span[name='dayTime'] {
        font-size: 0.75rem;
        @include media('below-iphoneSE') {
            font-size: 0.6rem;
        }
    }

    span[name='seperator'] {
        font-size: 0.75rem;
        padding: 0 0.5em;
        @include media('below-iphoneSE') {
            font-size: 0.6rem;
        }
    }

    .dateHero_message {
        font-size: 0.75rem;
        color: $gray-3;
        margin-top: 1em;
    }
}

.disableSelect {
    color: $gray-2;
}