.dateHero {
    margin-bottom: 2em;
    
    span[name='date'] {
        display: inline-flex;
        width: 48px;
        justify-content: center;
        font-size: 2em;
        padding-right: 0.2em;
    }

    span[name='monthYear'] {
        font-size: 0.75em;
    }

    span[name='dayTime'] {
        font-size: 0.75em
    }

    span[name='seperator'] {
        font-size: 0.75em;
        padding: 0 0.5em;
    }
}