/**
 *
 *  Using flex for composition
 *  Usage: 1. add itemBarWithAction to your element
 *         2. create an element with itemBarWithAction_message class for your message.
 *         3. create an element with itemBarWithAction_action class for your action.
 * 
 *
 */

.itemBarWithAction {
    display: flex;
    width: 100%;
    position: relative;
}

/* compositions */
.itemBarWithAction_message {
    display: flex;
    align-items: center;
    flex: 1 0;
    padding-right: 32px;
}
.itemBarWithAction_action {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    @include media("below-iphoneSE") {
        font-size: 0.75rem;
    }
}

.itemBarWithAction.reverse {
    flex-direction: row-reverse;
}