.stepIndicator {
    display: flex;
    width: 50%;
    max-width: 144px;
    border-bottom: 1px solid $gray-3;
    align-items: center;
    margin-bottom: 1em;
    p {
        font-size: 0.75rem;
        padding: 1em 0;
    }
}