ol.comfyList {
    counter-reset: theCounter;

    li:before {
        counter-increment: theCounter;
        content: counter(theCounter);
        color: white;
        background: #2980b9;
        display: inline-block;
        text-align: center;
        margin: 5px 10px;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }
}

ul.comfyList {
    padding-left: 16px;

    li {
        position: relative;
        font-size: 1rem;
        line-height: 2em;
        margin-bottom: 0.25em;
    }
    li:before {
        content: "";
        width: 0.5em;
        height: 0.5em;
        display: block;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1em;
        background-color: #ff9a57;
        border-radius: 1em;
        position: absolute;
        left: -16px; // 根據ul的padding
        top: 1em;
        transform: translateY(-50%);
    }
}
