/**
 *
 *  Using flex for composition
 *  Usage: 1. add checkboxContainer to your label element
 *         2. create a element with checkboxContainer_message class for your option text.
 *         3. create a element with checkboxContainer_checkbox class for your checkbox.
 *         4. create a element with checkmark class inside checkboxContainer_checkbox for styleing your checkmark 
 * 
 *
 */



/* Customize the label (the checkboxContainer) */
.checkboxContainer {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 2.5em;
    cursor: pointer;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    border: 1px solid $gray-5;
    border-radius: 4px;
    background-color:white;
  }
  
  /* On mouse-over, add a grey background color */
  .checkboxContainer:hover input ~ .checkmark {
    background-color: white;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    visibility: hidden;
  }
  
  /* Show the checkmark when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    visibility: visible
  }
  
  /* Style the checkmark/indicator */
  .checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* compositions */  
  .checkboxContainer_message {
    flex: 1 0;
    padding-right: 24px
  }
  .checkboxContainer_checkbox {
    flex: 0 0 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
  }