
.nextStepButtonsArea {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media("below-iphoneSE") {
        padding-bottom: 16px; 
    }

    & > a,
    & > button {
        margin: 1.5em;   
        @include media("above-tablet") {
            margin-left: 2.5em;
            margin-right: 2.5em;
        } 
        @include media("below-iphoneSE") {
            font-size: 0.75rem;
            margin: 8px auto;
        }
    }

}

.nextStepButtonsArea--notFixed {
    display: flex;
    justify-content: center;
    align-items: center;

    & > a,
    & > button {
        margin: 1.5em;    
    }
}

.nextStepButtonsArea_parent {
    @include media('below-small') {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 96px;
        }
    }
}