
.nextStepButtonsArea {
    display: flex;
    justify-content: center;
    align-items: center;

    & > a,
    & > button {
        margin: 1.5em;    
    }
}

.nextStepButtonsArea_parent {
    @include media('below-small') {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 96px;
        }
    }
}