.calendar {
    width: 100%;
    max-width: 480px;
    @include media('below-iphoneSE') {
        font-size: 0.9rem;
    }
    .inactive {
        color: $gray-2;
    }
}

.calendarCellWrapper {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    & > div {
        flex: 1 0 calc(14.2% - 16px); // 扣除calendarCell的margin;  
    }
}

.weekDay {
    color: $gray-3;
}

.calendarCell {
    margin: 8px;
    display: flex;
    position: relative;
    width: 24px;
    flex-wrap: wrap;
    justify-content: center;
    & > div {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
    }
    span {
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
        border-radius: 2em;
        @include media('below-iphoneSE') {
            width: 1.5em;
        height: 1.5em;
        }
    }
}
.calendarCell:after {
    content: '';
    display: block;
    position: relative;
    height: 0;
    padding-top: 36%;
    @include media('below-iphoneSE') {
        padding-top: 112%;
    }
}

.calenderCell_extraInfo {
    font-size: 0.75rem;
}

.calendarCell.selected {
    span {
        background: $green;
        color: white;
    }
}