.mainContentWrapper {
    padding: 2em 1.5em 1.5em 1.5em;
    position: relative;
}

.innerContent {
    padding: 0 1em;
}

.centerList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}