.mainContentWrapper {
    padding: 2em 1.5em 1.5em 1.5em;
    position: relative;
    margin-top: 56px; // header height

    @include media('above-tablet') {
        max-width: 1136px;
        padding-top: 4em;
        padding-right: 8.3%;
        padding-left: 8.3%;
        margin-left: auto;
        margin-right: auto;

        .stepIndicator {
            width: 100%;
            max-width: 100%;
        }

        .checkboxContainer {
            flex-direction: row-reverse;
        }
        .checkboxContainer.noReverse {
            flex-direction: row;
            max-width: 328px;
        }
        .checkboxContainer_checkbox {
            margin-right: 1em;
        }
        .nextStepButtonsArea {
            margin-top: 1em;
        }
    }
}

.innerContent {
    padding: 0 1em;

    @include media('above-tablet') {
        padding: 0 3em;
    }
}

.centerList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

