.mainContentWrapper {
    padding: 2em 1.5em 1.5em 1.5em;
    position: relative;
    margin-top: 56px; // header height

    @include media('above-tablet') {
        max-width: 1136px;
        padding-top: 4em;
        padding-right: 8.3%;
        padding-left: 8.3%;
        margin-left: auto;
        margin-right: auto;
    }
}

.innerContent {
    padding: 0 1em;

    @include media('above-tablet') {
        padding: 0 3em;
    }
}

.centerList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

