p 親愛的#{name}： 
p 可以開始使用我們的課程系統囉！
br
a(href=url style='padding: 16px 28px; background: black; color: white; text-decoration: none; margin: 8px; border-radius: 8px;') 前往使用
p(style='margin-top:56px;') 芝伊